.box {
    display: inline-block;
    border: 1px solid #fff;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
}

.box:hover {
    background: #188bff;
}

.off {
    background-color: #D3D3D3;
}

.on {
    background-color: #003366;
}
