body {
  background: #000;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.center {
  display: table;
  margin: 10px auto auto;
}

h1, h2, h3, h4 {
  color: white;
  text-align: center;
  width: 50%;
  margin: 10px auto auto;
}

h4 {
  margin-top: 0;
}
